body{
    background-color: blue ;
    margin: 0px;
    padding: 0px;
    background-image: url("images/bg.jpg");
    background-size: 100% 100% ;
  }

.centre{
    margin-top: 5%;
    margin-bottom: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
}

header{ 
    background-image: url("images/bg.jpg");
    padding:10px;
    text-align:right;
    background-size: 200%;
}


nav{
    padding:10px;
}

a:visited {
    color:Black;
}
a:hover {
    color:Navy;
}

